html, body, p  {
    margin: 0;
    padding: 0;
}

/* ##################### */

.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.navbar__section {
    display: flex;
    flex-direction: row;
    width: 45%;
    align-items: center !important;
    padding-left: 10px;
}

.navbar__section-arrow {
    font-size: 45px !important;
    color: rgb(68,121,251);
}

.navbar__section-title {
    font-family:  Helvetica;
    font-size: 16px;
    color: rgb(68,121,251);
    padding-left: 5px;
}

.navbar__app {
    display: flex;
    flex-direction: row;
    width: 55%;
    align-items: center;
    justify-content: space-around;
}

.navbar__app-logo {
    width: 28px;
    height: 28px;
    background: gray;
    border-radius: 30%;
}

.navbar__app-get {
    color: white;
    background-color: rgb(68,121,251);
    font-family: Helvetica;
    font-weight: bold;
    padding: 5px 17px 5px 17px;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 2px;
}

.navbar__app-iap {
    color: #8e8f92;
    font-family: Helvetica;
    font-size: 7px;
    text-align: right;
    width: 40%;
}

/* ##################### */

.game__header {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.game__header__icon {
    width: 40%;
    display: flex;
    justify-content: center;
}

.game__header__icon-img {
    width: 120px;
    height: 120px;
    background: gray;
    border-radius: 15%;
}

.game__header__info {
    width: 60%;
}

.game__header__info-title {
    font-family: Helvetica;
    font-size: 18px;
}

.game__header__info-subtitle {
    margin-top: 5px;
    color: #636366;
    font-family: Helvetica;
    font-size: 12px;
}

.game__header__info__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}

.game__header__info__buttons-iap {
    color: #8e8f92;
    font-family: Helvetica;
    font-size: 7px;
    text-align: left;
    width: 45%;
}

.game__header__info__buttons-get {
    color: white;
    background-color: rgb(68,121,251);
    font-family: Helvetica;
    font-weight: bold;
    padding: 5px 17px 5px 17px;
    border-radius: 20px;
    margin-right: 7px;
    margin-left: 2px;
}

.game__header__info__buttons-share, .game__header__info__buttons-share > img {
    width: 18px;
    height: 18px;
}

/* ##################### */

.game__rating {
    padding: 0px 0px 0px 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.game__rating-title {
    color: #636366;
    font-family: Helvetica;
    display: flex;
    flex-direction: row;
}

.game__rating-subtitle {
    margin-top: 2px;
    font-size: 8px;
    color: #636366;
    font-family: Helvetica;
}

.game__rating-stars {
    width: 50%;
}

.game__rating-title > i {
    padding: 0 1px;
}

.game__rating-category {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    align-items: center;
}

.game__rating-age {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    align-items: center;
}

.game__rating-category-subtext {
    font-size: 12px;
}

/* ##################### */

.game__swiper-container {
    height: 550px;
    width: 100%;
    margin: 20px 0 !important;
    z-index: 999 !important;
}
.game__swiper-slide {
    height: 550px !important;
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 275px!important;
    background: gray;
    border-radius: 30px;
    align-items: center;
    margin-left: 10px;
}

.game__swiper-slide:first-child {
    margin-left: 15px;
}

.game__swiper-slide:last-child {
    margin-right: 50px;
}

.game__swiper-slide.swiper-slide-prev {
    padding-right: 10px;
}

.swiperDone {
    display: none;
    font-family: Helvetica;
    color: rgb(68,121,251);
    font-weight: bold;
}

#DoneButton {
    margin-right: 10px;
}

#swiperContainerOpen {
    padding-top: 10px;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background: white;
    margin-top: 0 !important;
}

#swiperContainerOpen {
    height: 100%;
}

#swiperContainerOpen > .game__swiper-wrapper > .game__swiper-slide {
    width: 78vw !important;
    height: 78vh !important;
}

#swiperContainerOpen > .game__swiper-wrapper >.swiper-slide-prev.game__swiper-slide {
    padding-right: 30px !important;
}

#swiperDoneOpen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 49px;
    width: 100%;
    margin-bottom: 10px;
    background: rgb(248,248,248);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid rgba(117,117, 117, 0.2);
}


/* ##################### */

.ipadApp {
    color: #636366;
    display: flex;
    flex-direction: row;
    font-family: Helvetica;
    margin:  0 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(213,213,213);
    justify-content: space-between;
    align-items: center;
}

.ipadApp > p {
    width: 80%;
    font-size: 14px;
}

/* ##################### */

.game__about {
    margin: 20px 20px 20px 20px;
    font-family: Helvetica;
    font-size: 12px;
    border-bottom: 1px solid rgb(213,213,213);
    padding-bottom: 20px;
}

.game__about-developer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #636366;
}

.game__about-developer-name {
    color: rgb(68,121,251);
}

.game__about-developer-dev {
    font-size: 10px;
}

/* ##################### */

.game__reviews {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(213,213,213);
}

.game__reviews-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.game__reviews-title-m {
    font-size: 20px;
    font-family: Helvetica;
    font-weight: bold;
}

.game__reviews-title-o {
    color: rgb(68,121,251);
    font-size: 13px;
    font-family: Helvetica;
}

.game__reviews__ratings {
    width: 33%;
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.game__reviews__ratings-rate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34%;
}

.game__reviews__ratings-stars {
    width: 22%;
    display: flex;
    flex-direction: column;
    font-size: 8px;
    text-align: right;
}

.game__reviews__ratings-stats-row {
    flex-grow: 1;
}

.game__reviews__ratings-bar {
    width: 44%;
}

.game__reviews-other {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #636366;
    font-family: Helvetica;
    font-size: 12px;
}

.game__reviews-oof {
    font-family: Helvetica;
    font-weight: bold;
    color: #636366;
    font-size: 12px;
}

.game__reviews__ratings-rate {
    font-size: 60px;
    font-family: Helvetica;
    font-weight: bold;
    color: #4c4c50;
}

.game__reviews__rr {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.game__reviews__ratings-bs {
    width: 66%;
    display: flex;
    flex-direction: column;
}

.game__reviews__rating-bar-stars {
    width: 30%;
    font-size: 8px;
    text-align: right;
    color: #636366;
    margin-right: 10px;
}

.game__reviews__rating-bar-b {
    width: 70%;
    background: rgb(238,238,244);
    height: 3px;
}

.game__reviews__rating-bar-c {
    height: 3px;
    background: rgb(99,99,102);
    z-index: 9999;
}

.game__reviews__ratings-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.game__reviews__rating-count {
    margin-top: 10px;
    text-align: right;
    font-family: Helvetica;
    color: #636366;
    font-size: 14px;
}

/*0-100%*/
#ratingBar1 {width: 80%}
#ratingBar2 {width: 15%}
#ratingBar3 {width: 3%}
#ratingBar4 {width: 1%}
#ratingBar5 {width: 1%}


.games__reviews-swiper {
    width: 100%;
    height: 100%;
}

.game__reviews-swiper-card {

    height: 180px !important;
    background: rgb(248,248,248);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-family: Helvetica;
}

.game__reviews-swiper-card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 20px 10px 20px;
}

.game__reviews-swiper-card-info-m {
    text-align: left;
    font-size: 12px;
}

.game__reviews-swiper-card-info-title {
    font-weight: bold;
}

.game__reviews-swiper-card-info-stars {
    color: rgb(230,147,36);
}

.game__reviews-swiper-card-info-o {
    color: #636366;
    text-align: right;
    font-size: 12px;
}

.game__reviews-swiper-card-text {
    margin: 0px 20px 10px 20px;
    font-size: 12px;
}

.game__reviews-swiper {
    width: 100%;
}


/*#####################*/

.info {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.info__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(213,213,213);
    padding: 10px 0;
}

.info__title {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.info__row-a {
    color: #636366;
    font-family: Helvetica;
    font-size: 12px;
}

.info__row-sp {
    color: #636366;
}

.info__row-b {
    font-family: Helvetica;
    font-size: 14px;
}

.info__row-blue > div {
    color: rgb(68,121,251) !important;
}